body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Placeholder background color */
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#main-content {
    display: flex;
    flex: 1;
    gap: 10px;
}
