body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* 调整为白色，与左侧栏背景色互换 */
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#main-content {
    display: flex;
    flex: 1;
    gap: 10px;
}
